.stock-chart__wrapper {
    height: 200px;
    width: 675px;
}

.stock-chart-bar {
    padding-left: 25px;
}

.stock-timeline-options {
    background: none;
    border: none;
    padding-right: 20px;
}

.stock-timeline-options:hover {
    color: #00C805;
}

.about-container {
    margin-top: 50px;
    padding-left: 25px;
}

#about {
    font-size: 24px;
    padding-bottom: 10px;
}

#description {
    font-size: 15px;
    padding-top: 10px;
    margin-bottom: 15px;
    padding-right: 50px;
}

.company-info-container {
    display: flex;
}

.company-info-container > * {
    padding-right: 70px;
    font-size: 13px;
}

.info-label {
    font-weight: bold;
}

#hr {
    width: 650px;
    margin-right: 85px;
    border: 1px solid rgba(211, 211, 211, 0.5);
}


.statistics-container {
    padding-top: 50px;
    padding-left: 25px;
}

#statistics-title {
    font-size: 24px;
    padding-bottom: 10px;
}

#statistics {
    display: flex;
}

#statistics > * {
    padding-right: 70px;
    font-size: 13px;
}
