.account-page-wrapper {
    margin: 0px 134px;
    padding: 35px 0px 0px;
    /* padding-top: 200px; */
    overflow: hidden;
}
/* 
.sticky-account-nav {
    border: 1px solid pink;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
} */