#footer-container {
    height: 20em;
    color: white;
    background-color: black;
  }
  
  #disclaimer2 {
    padding-top: 55px;
    text-align: center;
    text-decoration: underline;
    letter-spacing: .03em;
    font-size: 16px;
    font-weight: 500;
  }
  
  .names-container {
    padding-top: 50px;
    display: flex;
    justify-content: center;
  }
  
  .name-container {
    font-size: 24px;
    padding: 5px 48px;
  }
  
  .connect-container {
    display: flex;
    justify-content: center;
  }
  
  .connect-container a {
    text-decoration: none;
    color: white;
    padding: 10px 5px;
  }