#footer-container {
    height: 10em;
    color: white;
    background-color: black;
  }
  
  #disclaimer2 {
    padding-top: 10px;
    text-align: center;
    text-decoration: underline;
  }
  
  .names-container {
    padding-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .name-container {
    font-size: 30px;
    padding: 0px 40px;
  }
  
  .connect-container {
    display: flex;
    justify-content: center;
  }
  
  .connect-container a {
    text-decoration: none;
    color: white;
    padding: 0px 5px;
  }