/* TODO Add site wide styles */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');
* {
  font-family: 'Lato', sans-serif;
  box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body, ul, div, nav {
    padding: 0px;
    margin: 0px;
}

button:hover {
    cursor: pointer;
}
