#news-title {
    margin-top: 50px;
    margin-left: 25px;
}

.news-container a {
    text-decoration: none;
    color: black;
}

.news-story {
    width: 41em;
    height: 9em;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 10px;
    border-radius: 5px;
}

.news-story:hover {
    background-color: #F5F8FA;
}

.story-info {
    padding-left: 3px;
}

#story-origin, #story-content {
    font-size: 13px;
    margin-bottom: 4px;
}

#story-content {
    color: grey;
    overflow: hidden;
}

#story-title {
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 3px;
}

#story-img {
    height: 7em;
    padding-left: 8px;
}