.form-wrapper{
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.form-image__container{
  grid-column: 1/2;
  height: 100vh;
  width: 50vw;
  transition: margin 2s;
}

.form-image{
  width: 50vw;
  height: 100vh;
}

.form-container{
  grid-column: 2/3;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, 1fr);
  height: 100vh;
}



.form-text__container{
  grid-row: 1/2;
}

.form-fill__container{
  grid-row: 2/4;
}

.form-btn__container{
  grid-row: 4/5;
}