.dashboard-container {
    margin: 0px 40.5px;
    padding: 36px 0px 0px;
    position: relative;
}

.div-row {
    display: flex;
    justify-content: space-between;
    margin: 0px -6px;
}

.portfolio-container {
    /* border: 1px solid green; */
    width: auto;
    height: 800px;
    /* margin: 20px; */
    padding: 0px 6px;
}

.portfolio-timeline-bar {
    border-bottom: 1px solid rgb(227,233,237);

}

.buying-power {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(227,233,237);
    padding: 24px 0px;
}



/* ------------------------------------------------------------------ */

.total-investment {
    font-size: 32px;
    font-weight: bold;
    margin: 0px 0px 12px;
    border-bottom: 1px dotted grey;
}

.watchlist-container {
    /* border: 1px solid blue; */
    width: auto;
    height: 500px;
    position: sticky;
    top: 50px;
    margin-right: 24px;
    margin-left: 100px;

    box-shadow: 5px 5px 10px 5px #b6b6b6;
    border-top: 1px solid rgb(209, 209, 209);

}


.all-stocks-header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 4px 24px 0px;
    border-bottom: 1px solid rgb(227,233,237);
}

.btn {
    background-color: #FFFFFF;
    border: none;
    font-size: 15px;
    font-weight: bold;
}

.btn:hover {
    background-color: pink;
}

.all-stock__stock {
    padding: 0px 24px;
    display: flex;
    align-items: center;
    height: 60px;
    font-size: 13px;
    line-height: 20px;
    border-bottom: 1px solid rgb(227,233,237);

}

.stock-name-shares-owned {
    display: flex;
    flex-direction: column;
}

.all-stock__graph-container {
    width: 70px;

    /* border: 1px solid red; */
}

.all-stock_current-price {
    display: flex;
    flex-direction: column;
}

.all-stocks__list-header {
    display: flex;
    /* flex-direction: row; */
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    padding: 4px 24px 0px;
    border-bottom: 1px solid rgb(227,233,237);
}

/* -----FORM------------------------------------------------------ */

.new-list-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.list-form-btn {
    background-color: none;
    border: 1px solid  rgb(227,233,237);
    border-radius: 3px;
    font-size: 13px;
    padding: 0px 24px;
    height: 36px;
}

.list-form-btn:hover {
    background-color: rgb(130, 231, 130);
}
