.one-list{
  /* border: 1px solid blue; */
  /* height: 8vh; */
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.one-list:hover{
  background-color: #d1cdcd4b;
}

.single-list-txt{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .02em;
}
/* --------------------EDITS--------------------- */

.dot-btn {
  border: 0px;
  background-color: white;
}

/* --------------------MODAL--------------------- */
/* DELETE #modal LATER */
#modal {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* DELETE #modal-content LATER */
#modal-content {
  position: absolute;
  background-color:white;
  border-radius: 10px;
}

/* modal global STAY */
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}