.one-list{
  /* border: 1px solid blue; */
  /* height: 8vh; */
  height: 60px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
}

.one-list:hover{
  background-color: #d1cdcd4b;
}


.list-text-container{
  grid-column: 1/2;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.check-symbol{
  height: 20px;
  width: 20px;
  margin-left: 25px;
  margin-right: 8px;
}

.single-list-txt{
  font-size: 14px;
  font-weight: 500;
  letter-spacing: .02em;
}

.list-all-btns-container{
  /* border: 3px solid red; */
  grid-column: 2/3;
  padding: 0px 15px;
  margin: 0px 15px;
  display: flex;
  justify-content: space-between;
}

/* --------------------EDITS modal--------------------- */

.edit-btn {
  background-color: transparent;
  border: 0px;
  padding: 10px;
  outline: none;
}

.edit-btn:hover{
  color: #00C805;
}

.edit-options-dropdown{
  /* border: 2px solid red; */
  position: absolute;
  border-radius: 3px;
  z-index: 1;
  top: 42px;
  right: 36px;

  outline: none;
  background-color: white;
  padding: 19px 12px;
  box-shadow: 2px 2px 20px 6px rgba(180, 180, 180, 0.295)
}

.edit-form-btn-container{
  font-size: 17px;
  margin: 14px 12px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.edit-form-btn-container:hover{
  color: #00C805;
}

.edit-form-btn-style{
  border: none;
  background-color: transparent;
  padding-left: 10px;
  font-weight: 700;
  outline: none;
}

.edit-form-btn-style:hover{
  color: #00C805;
}


.button-flex-container{
  display: flex;
  flex-direction: column;
}


/* --------------------MODAL--------------------- */

.edit-modal-content{
  position: fixed;
  margin: 165px 534px 447px 534px;
  border-radius: 4px;
  padding: 10px;

  background-color:rgb(255, 255, 255);
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
}


/* --------------FORM----------------------- */

.edit-list-form input{
  background-color: rgba(231, 231, 231, 0.637);
  width: 355px;
  outline: none;
}

.edit-list-form input:hover{
  border: 1px solid lightgray;
}

.edit-list-txt{
  font-size: 17px;
  font-weight: 800;
  letter-spacing: .02em;
}

.edit-form-btn{
  background-color: none;
  border: 1px solid  rgb(227,233,237);
  border-radius: 4.5px;
  
  margin: 23px 4px 5px 4px;
  /* padding: 0px 24px; */
  font-size: 13px;
  font-weight: 700;
  
  height: 48px;
  width: 190px;

}





/* modal global STAY */
#modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(58, 58, 58, 0.76);
}