.watchlist-container {
  /* border: 1px solid blue; */
  width: auto;
  height: 80vh;
  position: sticky;
  top: 50px;
  margin-right: 24px;
  box-shadow: 5px 5px 10px 5px #b6b6b6;
  border-top: 1px solid rgb(209, 209, 209);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  /* height: 100vh; */
}

.watchlist__stocks-wrapper {
  grid-row: 1/2;
}

.watchlist__list-wrapper {
  grid-row: 2/3;
}

.watchlist__list-header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 4px 24px 0px;
  border-bottom: 1px solid rgb(227,233,237);
}

.watchlist__stock-header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 4px 24px 0px;
  border-bottom: 1px solid rgb(227,233,237);
}


.btn {
  background-color: #FFFFFF;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.btn:hover {
  background-color: pink;
}



/* -----FORM------------------------------------------------------ */

.new-list-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.new-list-input {
  width: auto;
}

.list-form-btn {
  background-color: none;
  border: 1px solid  rgb(227,233,237);
  border-radius: 3px;
  font-size: 13px;
  padding: 0px 24px;
  height: 36px;
}

.list-form-btn:hover {
  background-color: rgb(130, 231, 130);
}

.tlbtn {
  margin: 0px 12px;
  padding: 2px 0px 12px;
}