

.watchlist-container {
  /* border: 1px solid blue; */
  margin-right: 215px;
  box-shadow: 2px 2px 24px 4px #cecbcbb7;
  border-radius: 1px;
  
  overflow: scroll;
  position: fixed;
  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  height: 85vh;
  width: 270px;
}

.watchlist__stocks-wrapper {
  grid-row: 1/2;
}

.watchlist__list-wrapper {
  grid-row: 2/3;
}


.watchlist__list-header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
  font-weight: 700;
  padding: 14px 22px;
  border-bottom: 1px solid rgb(227,233,237);
}

/* -----FORM------------------------------------------------------ */

.new-list-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.list-input {
  width: auto;
  margin-left: 10px;
  padding: 10px 0px 10px 10px;
  height: 2.8em;
  background-color: rgba(245, 245, 245, 0.829);
  border: white;
}

.list-input:hover{
  background-color: white;
  border: green;
}



/* --------------------BUTTONS start--------------------- */
.non-edit-btn{
  background-color: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
}

.add-btn {
  background-color: transparent;
  border: none;
  font-size: 13px;
  font-weight: 400;
}

.add-btn:hover{
  color: #00C805;
}

.plus-btn:hover{
  fill:rgb(16, 180, 24)
}
/* --------------------BUTTONS end--------------------- */



.list-form-btn {
  background-color: none;
  border: 1px solid  rgb(227,233,237);
  border-radius: 4px;

  font-size: 13px;
  font-weight: 700;

  padding: 0px 24px;
  margin: 5px;
  height: 36px;
}

/* cancel button */
.list-cancel-btn{
  background-color: white;
  color: #00C805;
  border: 1.5px solid #00C805;
}

.list-cancel-btn:hover{
  background-color: #d5f8d691;
}

.list-cancel-btn:focus{
  background-color: #9ff0a291;
}

/* create button */
.list-create-btn{
  background-color: #00C805;
  color: white;
  border: none;
}

.list-create-btn:hover{
  background-color: rgb(16, 180, 24);
}

.list-create-btn:focus{
  background-color: rgb(23, 156, 29);
}

/* -----STOCK------------------------------------------------------ */

.watchlist__stock-header {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 4px 24px 0px;
  border-bottom: 1px solid rgb(227,233,237);
}
